/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
  font-family: $family-font;
  color: $lightgrey-color;
}

.sidebar {
  height: 100%;
  width: 188px;
  position: fixed;
  z-index: 1;
  background: $dark-color;
  flex: 1;
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 188px;
  flex: 5;
}

.content {
  background: $background-color;
  display: flex;
  flex-direction: column ;
}

.content > article {
  flex: 4;
  min-height: 60vh;
}

.box {
  background: $light-color;
  width: auto;
  height: 400px;
  margin: 20px;
}

header {
  background: $light-color;
  height: 20vh;
  position: sticky;
  top: 0;
  max-height: 60px;
  border-bottom: 1px solid $lightgrey-color;
}


header, article, nav {
  padding: 1em;
}
