/* Colors */

$green-color: #04ae00;
$red-color: #ff0000;
$orange-color: #f58220;
$accent-color: #56819f;
$accent-alter-color: #80bfca;
$lightgrey-color: #a6a6a6;
$dark-color: #333333;
$light-color: #ffffff;
$grey-color: #979797;
$link-text-color: #56819f;
$link-text-hover-color: #ffa200;
$btn-color: #979797;
$btn-hover-color: #bababa;
$btn2-color: #f58220;
$btn2-hover-color: #ffa200;
$btn-disabled-color: #e3e3e3;
$notif-poistive-color: #74b67a;
$notif-positive2-color: #96cc9b;
$notif-negative-color: #de5252;
$notif-negative2-color: #ec7171;
$table-hover-color: #f1f3f3;
$background-color: #f5f5f2;

/* Fonts */

$family-font: 'Roboto', sans-serif;

/* Fonts sizes */

$header-font-size: 16px;
$text-font-size: 14px;
$large-link-font-size: 16px;
$small-link-font-size: 13px;
