.table {
  border-collapse: collapse;
  height: 55px;
}

.table tr:hover {
  background: $hover-color;
}

.table__with-link {
  .table__row {
    border-top: 1px solid $border-color;
  }

  .table__col-name {
    min-width: 300px;
    padding-left: 10px;
  }

  .table__col-website {
    min-width: 300px;
  }

  .table__col-icon {
    min-width: 150px;
    text-align: center;
  }
}

.list__with-one-digit {
  .list__row {
    border-bottom: 1px solid $border-color;
  }

  .list__col-name {
    min-width: 270px;
  }

  .list__col-digit {
    min-width: 40px;
    text-align: right;
  }
}
