.component__sidebar a {
  display: block;
  color: $lightgrey-color;
  font-size: $text-font-size;
  font-weight: $light-font-weight;
  padding: 12px 0;
  text-decoration: none;
}

.component__sidebar a.active {
  background-color: $orange-color;
  color: white;
}

.component__sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
