.btn {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  color: $light-color;
  margin: 12px auto 0 auto;
  width: auto;
  padding: 0 20px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-family: $roboto-font;
  font-size: 18px;
  font-weight: $light-font-weight;
  background-position: 100% 0;
  padding-top: 9px;

}

.btn-orange {
  background-color: $btn2-color;
}

.btn-orange:hover {
  background-color: $btn2-hover-color;
}

.btn-grey {
  background-color: $btn-color;
}

.btn-grey:hover {
  background-color: $btn-hover-color;
}

.btn-disabled {
  background-color: $btn-disabled-color;

  i {
    font-size: 12px;
  }
}
